body{
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
  }

 h2{
    position: absolute;
    color: #1B2430;
    font-size: 20px;
    top: 0px;
    left: 530px;
  }

  .back{
    margin-left: 10px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    background-color: white;
  }

  .back:hover{
    color: #51557E;
  }

  .container {
    margin-top: 20px;
    margin-left: 15%;
    border-radius: 10px;
    background-color: #51557E;
    padding: 40px;
    width: 70%;
  }
  
  input[type=text] {
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    font-size: 16px;
    color: #D6D5A8;
    font-weight: bolder;
    padding: 12px 12px 12px 45px;
    display: inline-block;
  }
  

  input[type=text]:focus {
    background-color: #FCF8E8;
  }
  
  .kolom1 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .kolom2 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  .baris:after {
    content: "";
    display: table;
    clear: both;
  }

  input[type=submit] {
    width: 87%;
    background-color: #A3DA8D;
    color: #1B2430;
    padding: 14px 20px;
    margin: 8px 0;
    margin-left: 45px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }

  input[type=submit]:hover {
    background-color: #86ad76;
  }

/* halaman detail.php */
input[disabled]{
  background-color: #FCF8E8;     
}